<!DOCTYPE html>

<html lang = "en-us">

<head>
<title>Surf's UP</title>
</head>

<body>
<center>
<h1>Welcome my dudes!</h1>
<h2>Here are some tools for planning a most excellent Hawaiian adventure</h2>
<div class="tenor-gif-embed" data-postid="7866658" data-share-method="host" data-width="100%" data-aspect-ratio="1.3387096774193548"><a href="https://tenor.com/view/blackman-surfing-funny-guitar-gif-7866658">Surfing Guitar GIF</a> from <a href="https://tenor.com/search/surfing-gifs">Surfing GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</center>


<br><br><br>

<ul>
    <li><strong>You only want to get your feet wet in the surf - check out the precipitation</strong></li>
        <ul><li>/api/v1.0/precipitation</li></ul>
    <li><strong>Want to know where we get the data? Check out the Station List</strong></li>
        <ul><li>/api/v1.0/stations</li></ul>
    <li><strong>You don't want to be iced out - check the temperatures!</strong></li>
        <ul><li>/api/v1.0/tobs</li></ul>
    <li><strong>Got the start date of your trip? Head here!</strong></li>
        <ul><li>/api/v1.0/&lt;start&gt;</li></ul>
    <li><strong>Got your full vacation in mind? Get all the deets here!</strong></li>
        <ul><li>/api/v1.0/&lt;start&gt;/&lt;end&gt;</li></ul>
</ul>
<br><br><br>
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/yZsuQXKkPdw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>



</body>

</html>